.ititle {
  font-size: 16px;
  font-weight: bold;
}

.isubtitle {
  font-size: 12px;
  font-style: italic;
}

.gcard {
	padding: 0;
	border-radius: 4px;

	.gframe {
		border: none;
		border-radius: 4px;
		margin: 5px;
		box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 3px rgba(#000, 0.22);

		.goverlay {
			background-color: rgba(35, 35, 35, 0.6);
			transition: all ease-in-out 0.2s;

			.gimg {
				opacity: 0.6;
				transition: all ease-in-out 0.25s;
			}

			.ginfo {
				background-color: transparent;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
				border-radius: 0 0 4px 4px;
				border: none;
				outline: none;
				box-shadow: none;
				padding-top: 32px;

				label {
					color: #ffffff;
				}
				.gtitle {
					font-size: 16px;
					font-weight: bold;
				}
				.gstatus {
					margin-bottom: -16px;
					transition: all ease-in-out 0.125s;
				}
			}
		}
	}
	&:focus, &:selected {
		background: unquote("@theme_selected_bg_color");
	}
	&:focus .goverlay, &:selected .goverlay, .goverlay:hover {
		.gimg {
			opacity: 0.8;
		}
		.ginfo .gstatus {
			margin-bottom: 2px;
		}
	}
}
